@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

:root {
  --font-primary: 'Clash Display', sans-serif;
  --font-secondary: 'Epilogue', sans-serif;
}

body {
  font-family: var(--font-secondary);
  background-color: #F8F8FD;
  color: #1e2532;
}

h1, h2, h3 {
  font-family: var(--font-primary);
}


